@import '../../scss/_variables.scss';
.menu {
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 16rem;
    width: 90vw;
    background-color: dimgrey;
    @include shadow;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornsilk;
    font-size: 2.5rem;
    height: 7rem;
    max-width: 30rem;
    transition: all ease 0.5s;
    border-bottom: 0.2rem solid cornsilk;
    &:hover {
      cursor: pointer;
      @include shadow;
      border-bottom: none;
      background-color: lightblue;
      color: dimgrey;
      border-radius: 1rem;
    }
    &:nth-of-type(3) {
      pointer-events: none;
    }
    & span {
      margin: 0 3rem;
    }
  }
}
